<aside class="menu">
    <p class="menu-label">
        Recipients
    </p>
    <ul class="menu-list">
        <li *ngFor="let order of orders">
            <a (click)="select(order)"
               [class.is-active]="order === selectedOrder">{{order.email}}</a>
        </li>
    </ul>

</aside>
